@charset "utf-8";
body {
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
	font-size: 12px;
	color: #333;
	overflow-x: hidden;
}

html,
body {
	height: 100%;
}

.viewFramework-index-body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	padding: 0 15px;
	position: relative;
}

.viewFramework-index-tabs {
	width: 100%;
	height: 100%;
	padding-top: 77px;
}

.viewFramework-index-tabs hr,
.tabs_menu-hr {
	border: none;
	height: 1px;
	background-color: #E1E6EB;
	margin-top: -1px;
	float: left;
	width: 100%;
}

.viewFramework-main {
	width: 100%;
	height: 100%;
	padding-top: 77px;
}

/*  右侧tab对应div 搜索   */
.tabs_search {
	float: left;
	width: 245px;
	height: 35px;
	border: 1px solid #E1E6EB;
	margin-right: 38px;
	position: relative;
}

/*  右侧tab对应div   */
.tabs-wapper {
	display: none;
}

.start-date,
.over-date,
.tabs_search {
	background-color: #F8F8F8;
	position: relative;
}

/*  右侧tab对应div 搜索、日期input   */
.start-date input,
.over-date input,
.tabs_search input {
	width: 210px;
	height: 33px;
	float: left;
	padding-left: 10px;
	border-right: 1px solid #E1E6EB;
	z-index: 9999;
	line-height: 33px;
	color: #9DA2B6;
	box-shadow: none;
	position: relative;
	background: transparent url(0) no-repeat !important;
}



/*  右侧tab对应div 日期左侧icon按钮   */
.tabs_search button {
	width: 33px;
	height: 33px;
	float: left;
	background-color: #FFF;
	color: #24AC7E;
	z-index: 9;
	position: relative;
}

.tabs_search button:hover {
	background-color: #fCfCfC;
}
/*  选择日期   */
.tabs_choose-date {
	height: 35px;
	float: left;
}
/*  选择日期之间 “至”   */
.start-date + p {
	display: block;
	float: left;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	color: #9DA2B6;
}
/*  开始、结束日期   */
.tabs_choose-date .start-date,
.tabs_choose-date .over-date {
	width: 135px;
	height: 35px;
	float: left;
	border: 1px solid #E1E6EB;
	padding-left: 0;
	position: relative;
}

.tabs_choose-date .start-date .placeholder,
.tabs_choose-date .over-date .placeholder {
	width: 100px;
	top: 0;
	left: 33px;
}

/*  开始、结束日期 input   */
.tabs_choose-date .start-date input,
.tabs_choose-date .over-date input {
	width: 100%;
	border-right: none;
	position: absolute;
	left: 0;
	top: 0;
	padding-left: 43px;
}
/*  开始、结束日期 搜索按钮   */
.tabs_nav .iconBtn {
	width: 35px !important;
	height: 35px !important;
	border: 1px solid #E1E6EB;
	margin-left: 10px;
} 

.start-date:before,
.over-date:before {
	font-family: iconfont;
	content: "\e609";
	color: #24AC7E;
	display: block;
	font-size: 16px;
	line-height: 33px;
	width: 33px;
	text-align: center;
	background-color: #FFF;
	border-right: 1px solid #E1E6EB;
}


/*《《《《《《《《《《
 *   栅格
 * 》》》》》》》》》》 */

.col-full {
	width: 100%;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.333333%;
}

.col-2-3 {
	width: 66.666666%;
}

.col-1-4 {
	width: 25%;
}

.col-3-4 {
	width: 75%;
}

.col-1-5 {
	width: 20%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-4-5 {
	width: 80%;
}

.col-1-7 {
	width: 14.275814%;
}

.tipso_bubble {
	display: none;
}

.fold .tipso_bubble {
	display: block;
}


/*  右侧弹窗   */

.right-alert {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: none;
	margin-top: -50px;
	margin-right: -883px;
	overflow: hidden;
}

.right-alert-boxShadow {
	width: 8px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../img/right-alert-boxShadow.png) repeat-y;
}

.right-alert-closeBg {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 875px;
	background: transparent url(0) no-repeat !important;
}


/*  弹窗内容  */

.right-alert-main {
	width: 875px;
	position: absolute;
	right: 0;
	top: 50px;
	bottom: 0;
	background-color: #FFF;
	overflow-y: auto;
}


/*  弹窗内容头部  */

.right-alert_head {
	width: 100%;
	height: 190px;
	background-color: #6B74AE;
	padding: 60px 30px 0px 54px;
	float: left;
	z-index: 99999;
	position: relative;
}


/*  弹窗关闭按钮  */

.right-alert-closeBtn {
	display: block;
	position: absolute;
	right: 30px;
	margin-top: -25px;
	color: #FFF;
	cursor: pointer;
	z-index: 9;
	background-color: transparent;
}

.right-alert-closeBtn:hover {
	color: #24AC7E;
	text-decoration: none;
}


/*  弹窗内容标题  */

.right-alert_head_title {
	font-size: 24px;
	color: #FFF;
	display: block;
	height: 30px;
}

.activity-information {
	margin-top: 20px;
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #C3C7DE;
}

.activity-information .nth1,
.activity-information .nth2,
.activity-information .nth3 {
	width: 33.3333%;
	display: block;
	float: left;
	color: #C3C7DE;
}

.activity-information .nth1 {
	text-align: left;
}

.activity-information .nth2 {
	text-align: center;
}

.activity-information .nth3 {
	text-align: right;
}

.activity-information .nth1 p,
.activity-information .nth2 p,
.activity-information .nth3 p {
	display: inline;
}


/*  弹窗内容头部功能栏  */

.right-alert-tabs-nav {
	height: 60px;
	padding-top: 20px;
	margin-left: -5px;
}


/*  弹窗内容头部tab按钮  */

.right-alert-tabs_menu {
	float: left;
}

.right-alert-tabs_menu li {
	float: left;
	margin-right: 27px;
}

.right-alert-tabs_menu li a {
	color: #C3C7DE;
	font-size: 14px;
	display: block;
	padding: 0 5px 13px;
	line-height: 14px;
	text-decoration: none;
	cursor: pointer;
}

.right-alert-tabs_menu li a:hover {
	opacity: #FFF;
}

.right-alert-tabs_menu li.current a {
	color: #FFF;
	border-bottom: 3px solid #F5A623;
}

.right-alert-tabs-nav .add-strategy-btn {
	width: 75px;
	height: 30px;
	float: right;
	border-radius: 4px;
	margin-top: -8px;
	border: 1px solid #C3C7DE;
	color: #FFF;
	background-color: transparent;
}

.right-alert-tabs-nav button:hover {
	background-color: #F8F8F8;
	color: #6B74AE;
	border-color: #FFF;
}


/*  弹窗内容正文  */

.right-alert-content-main {
	width: 100%;
	padding: 30px;
}

.right-alert-content-main {
	display: none;
}

.right-alert-content-main.current {
	display: block;
}


/*  弹窗内容正文表格  */

.right-alert-content-main table {
	width: 100%;
}

.right-alert_content {
	width: 100%;
	float: left;
	height: 100%;
	padding-top: 190px;
	margin-top: -190px;
}


/*  tab对应div显示   */

.tabs-wapper.open {
	display: block;
}

.clear-before:before {
	display: none !important;
}

.clear-after:after {
	display: none !important;
}

.clear-margin-right {
	margin-right: 0 !important;
}


/* 添加用户弹窗 */
.main-alert {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 999999999999999;
	display: none;
}

.main-alert-closeBg {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: url(../img/black80%.png) repeat;
	z-index: 99999999;
}

.main-alert-content {
	width: 676px;
	position: absolute;
	z-index: 999999999999;
	border-radius: 4px;
	background-color: #FFF;
	left: 50%;
	top: 40%;
	margin-left: -388px;
	margin-top: -160px;
	overflow: hidden;
}

.main-alert-content-top {
	width: 100%;
	height: 45px;
	background-color: #24AC7E;
	padding: 0 25px;
	line-height: 45px;
	color: #FFF;
	font-weight: 500;
	font-size: 14px;
}

.main-alert-content-top i {
	float: right;
	cursor: pointer;
}

.main-alert-content-top i:hover {
	color: #E1E6EB;
}

.main-alert-content-main {
	width: 100%;
	padding: 30px 35px;
}

/* 表列表 */
.form-items {
	width: 415px;
	margin: 0 auto 30px;
}

.form-items span {
	width: 70px;
	float: left;
	margin-right: 20px;
	line-height: 32px;
	text-align: right;
}

.form-items input,
.form-items textarea {
	width: 325px;
	height: 32px;
	border: 1px solid #E1E6EB;
	line-height: 30px;
	color: #9DA2B6;
	background-color: #FAFAFA;
	padding: 0 10px;
}

.form-items textarea {
	max-width: 325px;
	min-width: 325px;
	min-height: 64px;
}

.form-items input:focus,
.form-items textarea:focus {
	border-color: #24AC7E;
}

.btn-div {
	width: 164px;
	margin-left: 251px;
}

.btn-div button:first-child {
	margin-right: 10px;
}

/* 权限显示 div */
.right-box {
	float: left;
	margin-left: 20px;
	width: 527px;
	min-height: 500px;
	border: 1px solid #E1E6EB;
}
/* 权限显示 div标题 */
.right-box-title {
	width: 100%;
	height: 40px;
	background-color: #F8F8F8;
	line-height: 40px;
	padding: 0 15px;
	color: #9DA2B6;
	border-bottom: 1px solid #E1E6EB;
}

/* 权限显示 div标题按钮 */
.right-box-title button {
	float: right;
	margin-top: 4px;
	line-height: 32px;
	margin-left: 15px;
}

/* 权限显示 div显示区域 */
.right-box-main {
	width: 100%;
	min-height: 460px;
	padding: 15px;
}


