@charset "utf-8";
.tabs_sidebar {
	width: 190px;
	border: 1px solid #E1E6EB;
	background-color: #F1F4F7;
	overflow-y: auto;
	overflow-x: hidden;
	float: left;
	height: 100%;
	top: 48px;
}

.tabs_main {
	overflow: hidden;
float: left;
width: 100%;
	margin-top: 10px;
}

.tabs_body {
    width: 100%;
    height: 100%;
    padding-left: 205px;
}

.tabs_main table thead tr th:first-child {
	width: 10px;
}

/* 表标题最后一列 */
.tabs_body thead th.last-child {
    text-align: right;
    padding-right: 15px;
}

/* 树形菜单搜索 */
.tree--search {
	width: 100%;
	height: 40px;
	position: relative;
	border-bottom: 1px solid #E1E6EB;
}

.special-tree-title {
	width: 100%;
	height: 40px;
	background: #FFF;
	text-align: center;
	display: block;
	line-height: 40px;
	border-bottom: 1px solid #E1E6EB;
}

.special-tree {
	background: #E5EAEE;
}

.tree--search input {
	position: absolute;
	left: 0;
	right: 33px;
	top: 0;
	bottom: 0;
	height: 39px;
	background: transparent url(0) no-repeat !important;
	padding: 0 10px;
	color: #9DA2B6;
	line-height: 39px;
	z-index: 9;
}

.tree--search input:focus {
	color: #333;
}

.tree--search span {
	line-height: 40px;
}

.tree--search button {
	float: right;
	height: 39px;
	border-top: none;
	border-right: none;
	border-bottom: none;	
	position: relative;
	z-index: 9;
}

/* 选择框 */
.tabs_nav-div-items,
.SpanSelect {
	float: left;
}

.tabs_nav-div-items {
	margin-right: 20px;
}

.SpanSelect {
	margin-right: 15px;
}

.tabs_nav-div-items.last-child {
	margin-right: 0;
}

.tabs_nav-div-items button {
	margin-right: 10px;
}

.tabs_nav-div-items button.last-child {
	margin-right: 0;
}

.tabs_nav-div-items span {
	display: block;
	width: 85px;
	float: left;
	line-height: 32px;
	padding-right: 15px;
	text-align: right;
}

.tabs_nav-div-items input {
	width: 220px;
	height: 32px;
	border: 1px solid #E1E6EB;
	background-color: #F8F8F8;
	padding: 0 10px;
	line-height: 32px;
}

/*  左侧边栏添加删除分类按钮  */

.tree--btn button.add,
.tree--btn button.delete {
	width: 50%;
	height: 32px;
	float: left;
	background-color: #FAFAFA;
	border: 1px solid #E1E6EB;
	border-left: none;
	color: #293038;
}

.tree--btn button.delete {
	border-right: none;
}

.tree--btn button.add i,
.tree--btn button.delete i {
	font-size: 12px;
	color: #24AC7E;
	margin-right: 6px;
}

.tree--btn button.add:hover,
.tree--btn button.delete:hover {
	background-color: #FEFEFE;
}

.pull-left button {
	float: left;
	margin-right: 10px;
}

@media only screen and (min-width: 1300px) and (max-width: 1495px) {
.tabs_nav-div-items input {
	width: 150px;
}
}

@media only screen and (min-width: 1300px) and (max-width: 1495px) {
.select-btn {
	width: 200px;
}

.select-btn p {
    width: 153px;
}

.SpanSelect {
	width: 285px;
}
}

@media only screen and (min-width: 100px) and (max-width: 1248px) {
.select-btn {
	width: 200px;
}

.select-btn p {
    width: 153px;
}

.SpanSelect {
	width: 285px;
}
}

@media only screen and (min-width: 100px) and (max-width: 1180px) {
.tabs_nav-div-items input {
	width: 120px;
}

.select-btn {
	width: 180px;
}

.select-btn p {
    width: 133px;
}

.SpanSelect {
	width: 245px;
}

.SpanSelect span {
	width: 55px;
}
}
