@charset "utf-8";
.js-tabs-div1 table tbody tr td.operation {
	width: 170px;
}

.js-tabs-div2 table tbody tr td.operation {
	width: 160px;
}

.js-tabs-div3 table tbody tr td.operation {
	width: 170px;
}

.js-tabs-div4 table tbody tr td.operation {
	width: 100px;
}

.js-tabs-div5 table tbody tr td.operation {
	width: 60px;
}

.js-tabs-div6 table tbody tr td.operation {
	width: 277px;
}

/*  右侧tab对应div 功能栏   */
.tabs_nav {
	height: 35px;
	margin-bottom: 15px;
}

.right-alert-content-main tbody tr td {
	padding: 8px;
	text-align: center;
}

.text-div {
	position: absolute;
	z-index: 99999;
	background: url(../img/black80.png) repeat;
	color: #fff;
	left: 50%;
	top: 50%;
	margin-left: -235px;
	width: 470px;
	margin-bottom: 0;
	height: 437px;
	margin-top: -218px;
	display: none;
}


.tree_choose-alrte-div_head {
	width: 100%;
	height: 40px;
	background-color: #24AC7E;
	position: relative;
	font-size: 14px;
	line-height: 40px;
	padding-left: 25px;
}

/* 关闭按钮  */
.tree_choose-alrte-div_close-btn{
	position: absolute;
	right: 15px;
	top: 10px;
	color: #FFF;
	cursor: pointer;
}

.tree_choose-alrte-div_body {
	padding: 30px 10px 0 10px;
	width: 100%;
}

.tree_choose-alrte-div_close-btn:hover {
	color: #1A7254;
}


/* 确认按钮  */

.ok-btn {
	float: left;
	margin-top: 20px;
}

.ok-btn a {
	display: block;
	background-color: #24AC7E;
	color: #FFF;
	border-radius: 4px;
	line-height: 32px;
	width: 75px;
	height: 32px;
	margin: 0 auto 15px;
	text-align: center;
	cursor: pointer;
}

.ok-btn a:hover {
	background-color: #1FA075;
}

.choose-phone-number ul {
	height: 300px;
	overflow-y: auto;
}

.choose-phone-number {
	width: 400px;
	margin: 0 auto;
}

.choose-phone-number li {
	width: 100%;
	height: 30px;
	float: left;
	line-height: 30px;
	padding: 0 15px;
	cursor: pointer;
	background-color: #FFF;
	color: #9DA2B6;
}

.choose-phone-number li:hover {
	background-color: #F8F8F8;
}

.choose-phone-number li.checked {
	background-color: #F8F8F8;
}

.choose-phone-number li span {
	color: inherit;
}

.choose-phone-number li div {
	float: left;
	margin: 9px 10px 9px 0;
}

.right-alert {
	display: block;
	margin-right: 0;
}

/*.right-alert-content-main.nth1 .operation-btn {
	float: right;
}*/

/*.right-alert-content-main.nth1 ul {
	float: left;
}*/

.right-alert-content-main .btn-div {
	width: 100%;
	height: 32px;
	margin-left: 0;
	margin-bottom: 15px;
}

.right-alert-content-main .btn-div button {
	float: right;
}

.right-alert-content-main .btn-div button.cancel-btn {
	margin-right: 15px;
	display: none;
}

.right-alert-content-main .btn-div .operation-btn:before {
	content: "编辑";
}

.right-alert-content-main .btn-div .save-btn:before {
	content: "保存";
}

.right-alert-content-main.nth1 .select-menu {
	width: 250px;
}

.right-alert-content-main.nth1 .select-menu li {
	width: 100%;
}

.right-alert-content-main.nth1 .chooseSecond-input {
	width: 250px;
	float: left;
}

.right-alert-content-main.nth1 .chooseSecond-input input {
	border: none;
	width: 248px !important;
	padding-left: 43px !important;
}

.form-items {
	float: left;
}

.form-items input[type="file"] {
	height: auto;
	border: none;
	background: transparent;
}

.right-alert-content-main.nth1 .col-full {
	float: left;
}

.right-alert-content-main.nth1 .col-full p {
	width: 250px;
	height: 32px;	
	line-height: 30px;
	color: #9DA2B6;
	padding: 0 10px;
	float: left;
}
	
.right-alert-content-main.nth1 ul li {
	width: 400px;
	float: left;
	display: inline-block;
}

.right-alert-content-main.nth1 ul li .form-items,
.right-alert-content-main.nth1 ul li .form-items .SpanSelect {
	width: 400px;
}

.right-alert-content-main.nth1 ul li .form-items span {
	width: 130px;
	padding-right: 0;
}

.right-alert-content-main.nth1 ul li .form-items input,
.right-alert-content-main.nth1 ul li .form-items .select-btn {
	width: 250px;
}

.right-alert-content-main.nth1 ul li .form-items .select-btn p {
	width: 203px;
}
.right-alert-content-main.nth1 .select-btn{
	float: right;
	background-color: #FAFAFA;
	color: #9DA2B6;
}

.right-alert-content-main.nth1 textarea {
	max-width: 250px;
	min-width: 250px;
	min-height:64px;
	max-height:64px;
	font-size: 12px;
	font-weight: 400;
}

.new-event-time-select{
	width: 360px;
}
.new-event-time-select span,.new-event-channel-select span{
	width: auto;
}
.new-event-channel-select{
	width: 360px;
}
.channel-select-menu{
	height: 100px;
	width: 245px;
	overflow-y: auto;
}

.three-table {
	width: 100%;
	margin-top: 30px;
}

.three-table table {
	margin: 0 11px;
	color: #333;
	float: left;
	background-color: #FFF;
	text-align: left;
}

.three-table table.nth1,
.three-table table.nth3 {
	width: 25%;
}

.three-table table.nth2 {
	width: 40%;
}

.three-table table thead {
	height: 30px;
	background-color: #FAFAFA;
}

.three-table table tbody tr {
	height: 25px;
}

.three-table table tbody {
	border-top: 1px solid #E1E6EB;
	line-height: 25px;
	border-bottom: 1px solid #E1E6EB;
}

.three-table table tfoot td {
	position: relative;
}

.three-table table tfoot ul {
	margin: 0 8px;
	float: none;
}

.three-table table.nth2 tfoot ul {
	margin: 0 65px;
}

.three-table .center {
	width: 100%;
	
}

#new-event-div{
	width: 780px;
	margin-left: -390px;
}

#new-event-div .SpanInput {
	width: 360px;
}

#new-event-div .SpanInput .chooseSecond-input {
	width: 245px;
	float: right;
}

#new-event-div .SpanInput span {
	width: 100px;
}

#new-event-div .SpanInput input {
	width:243px;
	padding-left: 43px;
}

.radio-buttons i{
	float: left;
}

.three-table .radio-buttons {
	float: left;
	line-height: 12px;
}

.three-table table thead th {
	padding-left: 15px;
}

.three-table table tbody tr td:first-child {
	width: 10px;
}

.three-table table tbody tr {
	cursor: pointer;	
}

#new-event-div .SpanInput,
.new-event-channel-select {
	margin: 0 auto;
}

.new-event-time-select p,
.new-event-channel-select p {
	color: #333;
}

.new-event-channel-select {
	margin-top: 20px;
}
