@charset "utf-8";
tbody tr:hover {
	background-color: #FAFAFA;
}

/*  表格 class name a标签字体加粗   */

td.name a {
	font-weight: 400;
	display: block;
	width: 190px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 39px;
}

td.name a:hover {
	text-decoration: underline;
}

.right-alert {
	z-index: 999999999999;
}
.right-alert-main table,
.tabs_body table {
	width: 100%;
	border-collapse: collapse;
}

.right-alert-main th,
.tabs_body td {
	text-align: center;
}

.right-alert-main thead,
.right-alert-main tfoot,
.tabs_body thead,
.tabs_body tfoot {
	height: 35px;
	background-color: #FAFAFA;
	color: #9DA2B6;
}

.right-alert-main tr,
.tabs_body thead tr,
.tabs_body tbody tr,
.tabs_body tfoot tr {
	border: 1px solid #E1E6EB;
}


.tabs_body thead th.operation {
	text-align: right;
	padding-right: 15px;
}

.tabs_body tbody td.operation {
	text-align: right;
	padding-right: 15px;
}

.right-alert-main tbody,
.tabs_body tbody {
	font-weight: 100;
}

.right-alert-main tbody tr,
.tabs_body tbody tr {
	height: 40px;
	border-top: none;
}

.right-alert-main  tbody .operation button,
.tabs_body tbody .name,
.tabs_body tbody .tactics-num,
.tabs_body tbody .operation button {
	color: #24AC7E;
}

.right-alert-main tbody,
.tabs_body tbody {
	color: #293038;
}

.tabs_body th.current-state i {
	display: inline-block;
	font-size: 15px;
	margin-right: 8px;
}

.right-alert-main tbody td,
.tabs_body tbody td {
	font-weight: 300;
}

.right-alert-main tbody .operation button,
.tabs_body tbody .operation button {
	background: none;
}

.right-alert-main tbody .operation button:after, 
.tabs_body tbody .operation button:after {
	content: '';
	width: 1px;
	height: 12px;
	background-color: #E1E6EB;
	float: right;
	margin: 3px 5px;
}

.right-alert-main tfoot,
.tabs_body tfoot {
	height: 60px;
}

.right-alert-main table thead tr th,
.tabs_body table thead tr th {
    padding: 8px 15px;
    font-weight: normal;
    border-bottom: 1px solid #e1e6eb;
    background-color: #FAFAFA;
}

tbody tr td {
	padding: 0px 15px;
}

.tabs_body table thead tr th:first-child,
.tabs_body table tbody tr td:first-child {
	text-align: left;
}

table tbody tr td.operation button.last-child:after {
	display: none;
}

.tabs_body tbody tr .current-state i,
.right-alert-main tbody tr .strategy-state i {
	margin-right: 5px;
}

.tabs_body tbody tr .current-state i,
.tabs_body tbody tr .current-state span,
.right-alert-main tbody tr .strategy-state i,
.right-alert-main tbody tr .strategy-state span {
	float: left;
}

.tabs_body tbody tr .current-state div,
.right-alert-main tbody tr .strategy-state div {
	width: 57px;
	height: 17.5px;
	margin: 0 auto;
}

.tabs_body tbody tr.suspend .current-state i:before {
	content: "\e619";
	color: #F5A623;
}

.tabs_body tbody tr.running .current-state i:before {
	content: "\e61a";
	color: #24AC7E;
}

.tabs_body tbody tr.stop .current-state i:before {
	content: "\e613";
	color: #E68181;
}

.tabs_body tbody tr.stop .current-state i:before {
	content: "\e613";
	color: #E68181;
}

.tabs_body tbody tr.audit .current-state i:before {
	content: "\e637";
	color: #62B5DF;
}

.tabs_body tbody tr.wait-release .current-state i:before {
	content: "\e638";
	color: #9177BC;
}

.tabs_body tbody tr.audit .current-state span:before {
	content: "待审核";
}

.tabs_body tbody tr.wait-release .current-state span:before {
	content: "待发布";
}

.tabs_body tbody tr.suspend .current-state span:before {
	content: '已暂停';
}

.tabs_body tbody tr.running .current-state span:before {
	content: '执行中';
}

.tabs_body tbody tr.stop .current-state span:before {
	content: '已结束';
}

.right-alert-main tbody tr.suspend .strategy-state i:before {
	content: "\e619";
	color: #F5A623;
}

.right-alert-main tbody tr.running .strategy-state i:before {
	content: "\e61a";
	color: #24AC7E;
}

.right-alert-main tbody tr.stop .strategy-state i:before {
	content: "\e613";
	color: #E68181;
}

.right-alert-main tbody tr.suspend .strategy-state span:before {
	content: '已暂停';
}

.right-alert-main tbody tr.running .strategy-state span:before {
	content: '执行中';
}

.right-alert-main tbody tr.stop .strategy-state span:before {
	content: '已结束';
}

table tfoot tr td {
    padding: 8px;
    vertical-align: middle;
}

th[width='10'],
td[width="10"] {
	padding: 8px 8px;
}

.tabs_body table tbody .name {
	cursor: pointer;
}

.tabs_body tbody th.name a.dialog {
	display: block;
	height: 39px;
	line-height: 40px;
}

.tabs_body tbody td.name a.dialog:hover {
	text-decoration: underline;
}

.pull-right {
	float: right!important
}

.pull-left {
	float: left!important
}
